# Ignore everything in /data except the CSV file
data/*
data_old/*
!data/dataset_splits_with_metadata.csv

# Ignore everything in /data_processed except the CSV file
data_processed/*
data_processed_old/*
!data_processed/dataset_splits_with_metadata.csv

# Ignore everything in /cleaned_data
cleaned_data/**

# Ignore Jupyter Notebook checkpoints
**/.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment folders
.env
.venv/
venv/
env/

# Ignore IDE and OS-specific files
.DS_Store
.idea/
.vscode/
Thumbs.db

# Ignore optional processed data folder
processed_data/
node_modules

tempCodeRunnerFile*
